* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
  transition: all 0.5s ease-in-out;
}
main {
  background-color: #1a0b2e;
}
.bg-primary {
  background-color: #1a0b2e;
}
.bg-secondary {
  background-color: #230e3d;
}
.section {
  padding: 70px 0px;
  position: relative;
}
.section.cc-zero {
  padding: 0px 0px;
}
.container {
  padding: 0px 30px;
  margin: 0px auto;
  max-width: 1360px;
}
.width-full {
  width: 100%;
}
.width-1-2 {
  width: 48%;
}
.width-1-3 {
  width: 31%;
}
.width-1-4 {
  width: 23%;
}
.width-2-3 {
  width: 65%;
}
.width-3-4 {
  width: 73%;
}
.button {
  padding: 12px 20px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
  background: linear-gradient(45deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
}
.button:hover {
  background: linear-gradient(45deg, #9100f8 0%, #fb09b4 51%, #f7e93f 100%);
}
.button.cc-transparent {
  background: transparent;
  border: 1px solid #00ff88;
  color: #00ff88;
}
.button.cc-transparent:hover {
  color: #fff;
  border: 1px solid #ffffff;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
  row-gap: 40px;
  flex-wrap: wrap;
}
.flex-left-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  row-gap: 40px;
}
.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
}
.flex-right-center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  row-gap: 40px;
}
.flex-vr {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.divider {
  width: 100%;
  height: 1px;
  background-color: #ccc;
}
.card {
  background-color: #351165;
  padding: 40px;
  border-radius: 40px;
}
.featured-card {
  background-color: #250d44;

  border-radius: 40px;
  overflow: hidden;
}
.featured-card-content {
  padding: 25px;
}
.featured-card-content p {
  margin-top: 15px;
}
.text-center {
  text-align: center;
}
.text-white {
  color: #fff;
}
.text-green {
  color: #00ff88;
}
.paragraph {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.25;
}
.section-title {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.625;
}
